[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
llama-index = "*"
python-dotenv = "*"
pypdf = "*"
streamlit = "*"
streamlit-authenticator = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
